---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small"><a href="/">{{ site.title }}</a></h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <div class="post-date">
      <time>{{ page.date | date_to_string }}</time>
    </div>
    <div class="post-tags">
      <ul class="tags">
        {% for tag in page.tags %}
          <li><a href="/tag/{{ tag }}" class="tag">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="post-body">
    {{ content }}
  </div>

  <div class="social-share">
    <amp-social-share type="twitter"></amp-social-share>
    <amp-social-share type="facebook"></amp-social-share>
    <amp-social-share type="gplus"></amp-social-share>
  </div>

  <div class="post-ad">
    <amp-ad width="100vw" height=320 type="adsense" data-ad-client="ca-pub-8616720383995770" data-ad-slot="4570107466" data-auto-format="rspv"
      data-full-width>
      <div overflow></div>
    </amp-ad>
  </div>
</div>
